<p style="color: green"><%= notice %></p>

<%= render @student %>

<div>
  <%= link_to "Edit this student", edit_teacher_student_path(@student) %> |
  <%= link_to "Back to students", teacher_students_path %>
</div>
