<div id="<%= dom_id teacher %>">

<table>
  <tr>
    <th>Teacher's Name</th>
    <th>Age</th>
    <th>Visited</th>
  </tr>
  
  <tr>
    <td><%= teacher.name %></td>
    <td><%= teacher.age %></td>
    <td><%= teacher.visited %></td>
  </tr>

  </table>



